
.App {
  text-align: center;
}

.img-poster {
  padding-top: 40px;
  float: center;
  width:  350px;
  height: 500px;
  object-fit: cover;
}

/* .movie-titles {
  padding: 50px;
} */

.img-details {
  float: center;
  width:  350px;
  height: 500px;
  object-fit: cover;
}

header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

.Footer {
  text-align: center;
}

.back-button {
  float: center;
  width: 50px;
  height: 30px;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

